div[class*="DivFixedWrapper"], /* top bar and bottom "get the full experience" banner */
div[class*="DivVideoCaption"] > div[class*="matrix-smart-wrapper"], /* bar beneath caption */
div[class*="DivCamera"], /* watch on tiktok */
div[class*="tux-base-dialog"], /* popup */
div[class*="DivSwiperParent"], /* recommended videos */
div[class*="DivSeeMore"], /* see more comments */
div[class*="DivFinishTip"], /* scroll up to view more */
div[class*="DivTuxBarContainer"], /* today's top videos */
div[class*="DivBottomButtonSection"], /* download tiktok button */
div[class*="DivHalfwayPopupMask"], /* fake alert */
ul[class*="UlRList"] { /* recommended videos */
    display: none;
}

div[class*="DivUnmuteButton"] {
    top: 16px; /* move unmute now that top bar is hidden */
}

div[class*="DivInfoSection"], div[class*="DivCommentListContainer"] {
    pointer-events: none; /* prevent redirects to app store */
}

div[class*="layout-box"] {
    padding: 0 !important; /* hide extra whitespace at bottom */
}

div[class*="DivCommentListContainer"] {
    border-bottom: 19px solid white; /* bottom padding to fix layout */
}
