div[class*="DivFixedWrapper"], /* top bar and bottom "get the full experience" banner */
div[class*="DivVideoCaption"] > div[class*="matrix-smart-wrapper"], /* bar beneath caption */
div[class*="DivCamera"], /* watch on tiktok */
div[class*="tux-base-dialog"], /* popup */
div[class*="DivSwiperParent"], /* recommended videos */
div[class*="DivSeeMore"], /* see more comments */
div[class*="DivFinishTip"], /* scroll up to view more */
div[class*="DivTuxBarContainer"], /* today's top videos */
div[class*="DivBottomButtonSection"], /* download tiktok button */
div[class*="DivHalfwayPopupMask"], /* fake alert */
div[class*="DivErrorContainer"], /* something went wrong */
div[class*="DivTabLoadingContainer"], /* loading animation */
div[class*="DivRecommendListTitle"], /* today's top videos */
div[class*="DivFloatButtonWrapper"], /* discover more button */
div[class*="DivModalContainer"], /* get the full app experience */
div[class*="DivMask"], /* channel mask */
div[class*="DivBodyWrapper"], /* channel sheet */
div[class*="DivCtaGuideWrapper"], /* channel footer */
div[class*="DivGridItem"], /* related to suggestions */
footer[data-e2e*="playlist-banner"], /* playlist banner */
ul[class*="UlRList"] { /* recommended videos */
    display: none;
}

div[class*="DivUnmuteButton"] {
    top: 16px; /* move unmute now that top bar is hidden */
}

div[class*="DivInfoSection"], /* video tappable region */
div[class*="DivCommentListContainer"], /* video comments */
div[class*="matrix-smart-wrapper"]:has(div[class*="DivFavor"]), /* channel heart button */
div[class*="matrix-smart-wrapper"]:has(div[class*="DivComment"]) { /* channel comment button */
    pointer-events: none; /* prevent redirects to app store */
}

div[data-e2e*="caption-icon"], /* allow tap for captions */
article[class*="ArticleLimitLine"] > button { /* allow tap on "See more" */
    pointer-events: auto;
}

div[class*="layout-box"] {
    padding: 0 !important; /* hide extra whitespace at bottom */
}

div[class*="DivCommentListContainer"] {
    border-bottom: 19px solid white; /* bottom padding to fix layout */
}

/* Revert the effects of the tux-screen-lock style */
html {
    overflow: auto !important;
}
body {
    position: relative !important;
}
